In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
mlb_salaries = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/mlbSalaries.csv')
stats = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/mlb2019stats.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
mlb_salaries.head()

   year                  team             name   salary  playerID
0  2019  arizona-diamondbacks  Eduardo Escobar  6166666    500871
1  2019  arizona-diamondbacks       Robbie Ray  6050000    592662
2  2019  arizona-diamondbacks   Taijuan Walker  5025000    592836
3  2019  arizona-diamondbacks        Jake Lamb  4825000    571875
4  2019  arizona-diamondbacks       Adam Jones  4500000    430945

In [ ]:
print(stats.columns)
#stats.columns = column_names 
dropped_cols = [0,34,36,38,39,40,41,42,43,44,45,46,47]
stats.drop(stats.columns[dropped_cols],axis=1,inplace=True)
print(stats.columns)

Index(['playerID', 'nameFirst', 'nameLast', 'bats', 'throws', 'age', 'year',
       'stints', 'teamID', 'lg', 'G', 'tap', 'AB', 'R', 'H', 'db', 'tr', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'hbp', 'SH', 'SF', 'GIDP', 'avg',
       'obp', 'slg', 'woba', 'PRO', 'GURU', 'ROTO', 'pos1', 'g1', 'pos2', 'g2',
       'pos3', 'g3', 'pos4', 'g4', 'pos5', 'g5', 'mlbam_id',
       ' baseball_prospectus_id ', 'n2019'],
      dtype='object')
Index(['nameFirst', 'nameLast', 'bats', 'throws', 'age', 'year', 'stints',
       'teamID', 'lg', 'G', 'tap', 'AB', 'R', 'H', 'db', 'tr', 'HR', 'RBI',
       'SB', 'CS', 'BB', 'SO', 'IBB', 'hbp', 'SH', 'SF', 'GIDP', 'avg', 'obp',
       'slg', 'woba', 'PRO', 'GURU', 'pos1', 'pos2'],
      dtype='object')

In [ ]:
stats.head()

,nameFirst,nameLast,bats,throws,age,year,stints,teamID,lg,G,...,SF,GIDP,avg,obp,slg,woba,PRO,GURU,pos1,pos2
0,Jose,Abreu,R,R,32,2019,1,CHA,AL,159.0,...,10.0,24.0,0.283912,0.330447,0.503155,0.354834,245.90,79.642904,1B,NaN
1,Ronald,Acuna,R,R,21,2019,1,ATL,NL,156.0,...,1.0,8.0,0.279553,0.365169,0.517572,0.380365,270.82,104.352687,OF,NaN
2,Cristhian,Adames,B,R,27,2019,1,SFN,NL,10.0,...,0.0,0.0,0.318182,0.375000,0.363636,0.336667,8.08,7.644153,2B,3B
3,Willy,Adames,R,R,23,2019,1,TBA,AL,152.0,...,1.0,9.0,0.254237,0.316695,0.418079,0.320257,187.03,49.147818,SS,NaN
4,Matt,Adams,L,R,30,2019,1,WAS,NL,111.0,...,1.0,7.0,0.225806,0.276276,0.464516,0.314294,104.66,32.037226,1B,NaN

In [ ]:
for index, rows in stats.iterrows():
  stats.at[index,'nameFirst'] += ' ' + stats.at[index, 'nameLast']
stats.drop(stats.columns[1], axis = 1, inplace = True)
stats.rename(columns = {'nameFirst':'name'}, inplace = True)
stats.head()
position = {}
obp = {}
slg = {}
age = {}
for index, rows in stats.iterrows():
  obp[stats.at[index, 'name']] = stats.at[index,'obp']
  slg[stats.at[index, 'name']] = stats.at[index,'slg']
  position[stats.at[index, 'name']] = stats.at[index,'pos1']
  age[stats.at[index, 'name']] = stats.at[index,'age']

In [ ]:
twentynineteen_salaries = mlb_salaries.loc[mlb_salaries['year'] == 2019]
twentynineteen_salaries.tail(20)

      year                  team               name   salary  playerID
2268  2019  washington-nationals          Yan Gomes  7083333    543228
2269  2019  washington-nationals     Anibal Sanchez  6000000    434671
2270  2019  washington-nationals     Sean Doolittle  6000000    448281
2271  2019  washington-nationals  Stephen Strasburg  5000000    544931
2272  2019  washington-nationals     Howie Kendrick  4000000    435062
2273  2019  washington-nationals        Kurt Suzuki  4000000    435559
2274  2019  washington-nationals        Trea Turner  3725000    607208
2275  2019  washington-nationals     Michael Taylor  3250000         0
2276  2019  washington-nationals         Matt Adams  3000000    571431
2277  2019  washington-nationals  Jeremy Hellickson  1900000    476451
2278  2019  washington-nationals           Joe Ross   704256    605452
2279  2019  washington-nationals          Juan Soto   578300    665742
2280  2019  washington-nationals       Wander Suero   562500    593833
2281  2019  washington-nationals      Victor Robles   557800    645302
2282  2019  washington-nationals        Javy Guerra   554829    457915
2283  2019  washington-nationals      Daniel Hudson   491965    543339
2284  2019  washington-nationals      Gerardo Parra   429696    467827
2285  2019  washington-nationals  Hunter Strickland   419355    519326
2286  2019  washington-nationals      Tanner Rainey   402840    663432
2287  2019  washington-nationals        Erick Fedde   355096    607200

In [ ]:
twentynineteen_salaries['position 1'] = ''
twentynineteen_salaries['position 2'] = ''
twentynineteen_salaries['obp'] = ''
twentynineteen_salaries['slg'] = ''
twentynineteen_salaries.drop(columns = ['playerID'], axis = 1, inplace = True)
twentynineteen_salaries.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,year,team,name,salary,position 1,position 2,obp,slg
0,2019,arizona-diamondbacks,Eduardo Escobar,6166666,,,,
1,2019,arizona-diamondbacks,Robbie Ray,6050000,,,,
2,2019,arizona-diamondbacks,Taijuan Walker,5025000,,,,
3,2019,arizona-diamondbacks,Jake Lamb,4825000,,,,
4,2019,arizona-diamondbacks,Adam Jones,4500000,,,,

In [ ]:
for index, row in twentynineteen_salaries.iterrows():
  twentynineteen_salaries.at[index, 'obp'] = obp[stats.at[index, 'name']]

KeyError: ignored